/* CSS file or App.css */

.servicesBar {
    background-color: #f8f9fa; /* Light gray */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.serviceBox {
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.serviceBox h5 {
    font-weight: bold;
    text-wrap: nowrap;
}

.serviceBox p {
    color: #6c757d;
    text-wrap: nowrap;
}

.serviceBox .icon {
    color: #80c52f;
    margin-right: 15px;
    width: 40px; /* Fixed width for icon */
    height: 40px; /* Fixed height for icon */
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceBox:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.iconWrapper {
    background-color: #b5f8b5;
    color: #28a745;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

